name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U $${POSTGRES_USER} -h localhost -p 5432"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      NODE_ENV: test
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache Prisma Client
        uses: actions/cache@v4
        with:
          path: |
            node_modules/.prisma
            src/infra/database/prisma/generated
          key: prisma-${{ hashFiles('prisma/schema.prisma', 'package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Generate Prisma client
        run: npx prisma generate

      - name: Wait for Postgres to be ready
        run: |
          echo "Waiting for Postgres..."
          for i in {1..20}; do
            if pg_isready -h localhost -p 5432 -U ${{ secrets.POSTGRESQL_USERNAME }}; then
              echo "Postgres is ready!"
              break
            fi
            echo "Waiting..."
            sleep 2
          done

      - name: Run database migrations
        run: npx prisma migrate deploy

      - name: Check code formatting
        run: npm run format:check
        continue-on-error: false

      # - name: Run unit tests
      #   run: npm test

      # - name: Run test coverage
      #   run: npm run test:cov
      #   continue-on-error: true

      - name: Build application
        run: npx nest build
